<!DOCTYPE html>
<html>
  <head>
    <title>FriendZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//db.onlinewebfonts.com/c/e8a9d7a8c7a90eaca5ea1ca65606636f?family=Klavika+Bold" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
      window.friendsURL = "<%= image_url('basic_friends.jpg') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
